[Unit]
Description=Setting good boot entry
Wants=boot-complete.target

[Service]
ExecStart=/bin/bash /usr/sbin/set_boot_entry.sh
ExecStart=/bin/bash /usr/sbin/set_boot_entry.sh BOOT

[Install]
WantedBy=multi-user.target
